@media (min-width:0) and (max-width:575px){
    .navbar-brand{
    width: 80%;
    margin-right: 0
    } 
    nav ul li:after{
        display: none;
    }
    
    .hero-section img{
        margin: 15px 0;
        display: block;
        position: relative;
        left: 50%;
        transform: translateX(-50%)
        
    }
}